.idea
vendor
composer.lock
*.cache
.store
.php-cs-fixer.cache
/tests/VectorStore/*.store
.claude
.junie
.codex
.ai
.env
scripts
phpunit.xml
DOCS_*

/node_modules/
/packages/streaming/dist/
/artifacts/
/review/
