<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Inspector Test Suite">
            <directory>tests</directory>
            <exclude>tests/Integration/Frontend</exclude>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="INSPECTOR_API_KEY" value="971cd5c048c70a15c932e849261664f9b26069b6"/>
        <env name="ANTHROPIC_API_KEY" value=""/>
        <env name="WORKFLOW_REDIS_HOST" value="127.0.0.1"/>
        <env name="WORKFLOW_REDIS_PORT" value="6379"/>
        <env name="WORKFLOW_MYSQL_DSN" value="mysql:host=127.0.0.1;dbname=neuron-ai"/>
        <env name="WORKFLOW_MYSQL_USER" value="root"/>
        <env name="WORKFLOW_PGSQL_DSN" value="pgsql:host=127.0.0.1;dbname=neuron-ai"/>
        <env name="WORKFLOW_PGSQL_USER" value="postgres"/>
        <env name="WORKFLOW_PGSQL_PASSWORD" value="workflow-test"/>
    </php>
</phpunit>
